{% block title %}
    А теперь небольшое упражнение! Пожалуйста, найдите X. 
{% endblock %}

{% block content %} 

    {{ formfield 'surprise'}}
    {{ formfield 'advice' }}

    <p>
        Как часто Вы пробуете что-то новое (среди продуктов питания)?
    </p>
    <p>
        Никогда &nbsp;
        {{ for choice in form.neww }}
            {{ choice }}
        {{ endfor }}
        &nbsp; Всегда
    </p>
    <p>
        Часто при продаже товаров отдельное внимание уделяется их оформлению (упаковке, подаче и т.д.), чтобы создать целостный качественный облик товара, что может повышать его цену. 
        Как Вы считаете, насколько такой подход оправдан?
    </p>
    <p>
        Совершенно не оправдан &nbsp;
        {{ for choice in form.cover }}
            {{ choice }}
        {{ endfor }}
        &nbsp; Полностью оправдан
    </p>
    {{ formfield 'hobby' }}
    <p>
        Существует мнение, что самое ценное в покупках – впечатления, которые мы от них получаем, а не непосредственно товары. 
        Насколько Вы согласны с этим утверждением? 
    </p>
    <p>
        Полностью несогласен(-сна) &nbsp;
        {{ for choice in form.impress }}
            {{ choice }}
        {{ endfor }}
        &nbsp; Полностью согласен(-сна)
    </p>



    <button class="btn btn-primary next-btn" id="dalee">ДАЛЕЕ</button>
    {% endblock %}